@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

#board{
    background-color: black;
    height: 765px;
    width: 500px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}

.player{
    background-image: url(./img/centro.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 78px;
    width: 50px;
    position: absolute;
    left: 243px;
    z-index: 2;
}

.playerDerecha{
    background-image: url(./img/centro.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 78px;
    width: 50px;
    position: absolute;
    transform: translateX(-50%);
    animation: walkAnimationDer 1.5s steps(9) infinite;
    z-index: 2;
}

@keyframes walkAnimationDer {
    0%, 100% {
        background-image: url('./img/derecha/derc1.png');
        transform: translateX(-50%) scaleY(1);
    }
    11.11% {
        background-image: url('./img/derecha/derc2.png');
    }
    22.22% {
        background-image: url('./img/derecha/derc3.png');
    }
    33.33% {
        background-image: url('./img/derecha/derc4.png');
    }
    44.44% {
        background-image: url('./img/derecha/derc5.png');
    }
    55.55% {
        background-image: url('./img/derecha/derc6.png');
    }
    66.66% {
        background-image: url('./img/derecha/derc7.png');
    }
    77.77% {
        background-image: url('./img/derecha/derc8.png');
    }
    88.88% {
        background-image: url('./img/derecha/derc9.png');
    }
}

.playerIzquierda{
    background-image: url(./img/centro.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 78px;
    width: 50px;
    position: absolute;
    transform: translateX(-50%);
    animation: walkAnimationIzq 1.5s steps(9) infinite;
    z-index: 2;
}

@keyframes walkAnimationIzq {
    0%, 100% {
        background-image: url('./img/izquierda/izq1.png');
        transform: translateX(-50%) scaleY(1);
    }
    11.11% {
        background-image: url('./img/izquierda/izq2.png');
    }
    22.22% {
        background-image: url('./img/izquierda/izq3.png');
    }
    33.33% {
        background-image: url('./img/izquierda/izq4.png');
    }
    44.44% {
        background-image: url('./img/izquierda/izq5.png');
    }
    55.55% {
        background-image: url('./img/izquierda/izq6.png');
    }
    66.66% {
        background-image: url('./img/izquierda/izq7.png');
    }
    77.77% {
        background-image: url('./img/izquierda/izq8.png');
    }
    88.88% {
        background-image: url('./img/izquierda/izq9.png');
    }
}

.plataform{
    position: absolute;
    background-image: url(./img/plataforma.png);
}

.enemy{
    position: absolute;
    background-image: url(./img/gato.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    height: 23px;
    width: 30px;
}

.pipelines{
    position:absolute;
    z-index: 4;
    background-image: url(./img/tubo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.star{
    position: absolute;
    z-index: 1;
    background-image: url(./img/chocolatina.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

#start{
    background-color: red;
    background-image: url(./img/INICIO.jpg);
    position: absolute;
    height: 765px;
    width: 500px;
    z-index: 5;
}

#play{
    position: absolute;
    left: 180px;
    z-index: 5;
    top: 360px;
    background-color: yellow;
    padding: 15px 50px;
}
#play:hover{
    background-color: white; 
}
#gameover{
    background-image: url(./img/FIN.jpg);
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 765px;
    width: 500px;
    z-index: 5;
    color: black;
    display: none;
}

.texto{
    margin-top: 160px;
    background-color: white;
    width: 350px;
    margin-left: 55px;
    padding: 20px;
}

#restart{
    position: absolute;
    left: 180px;
    z-index: 5;
    top: 430px;
    background-color: black;
    color: white;
    padding: 15px 50px;
}
#restart:hover{
    background-color: white; 
    color: black;
}
h1{
    text-align: center;
}

#status{
    background-color: black;
    border: 5px solid grey;
    height: 50px;
    width: 490px;
    position: absolute;
    z-index: 1;
}

.heart {
    position: absolute;
    height: 45px;
    width: 50px;
    margin-top: 7px;
    margin-left: 8px;
    background-image: url(./img/hp.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

#score {
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    right: 0;
    position: absolute;
    font-size: 45px;
    letter-spacing: 10px;
}

#cronometro{
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    position: absolute;
    font-size: 45px;
    left: 195px;
}

.kahoot{
    position: absolute;
    z-index: 1;
    background-image: url(./img/kahoot.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.box{
    position: absolute;
    z-index: 4;
    background-image: url(./img/box.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 30px;
}

.super{
    background-image: url(./img/supersuper.png) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}