#board{
    background-color: black;
    height: 700px;
    width: 500px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}

.player{
    background-image: url(./img/super_ira.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 78px;
    width: 50px;
    position: absolute;
    left: 243px;
    z-index: 1;
}

.plataform{
    position: absolute;
    background-image: url(./img/plataforma.png);
}

.enemy{
    position: absolute;
    background-image: url(./img/gato.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    height: 23px;
    width: 30px;
}

.pipelines{
    position:absolute;
    z-index: 2;
    background-image: url(./img/tubo.png);
    background-repeat: no-repeat;
   background-size: cover;
}