@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

#board{
    background-color: black;
    height: 765px;
    width: 500px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}

.player{
    background-image: url(./img/super_ira.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 78px;
    width: 50px;
    position: absolute;
    left: 243px;
    z-index: 2;
}

.plataform{
    position: absolute;
    background-image: url(./img/plataforma.png);
}

.enemy{
    position: absolute;
    background-image: url(./img/gato.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    height: 23px;
    width: 30px;
}

.pipelines{
    position:absolute;
    z-index: 4;
    background-image: url(./img/tubo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.star{
    position: absolute;
    z-index: 1;
    background-image: url(./img/chocolatina.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#start{
    background-color: red;
    position: absolute;
    height: 765px;
    width: 500px;
    z-index: 5;
}

#play{
    position: absolute;
    left: 220px;
    z-index: 5;
}

#gameover{
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 765px;
    width: 500px;
    z-index: 5;
    color: white;
    display: none;
}

#restart{
    position: absolute;
    left: 220px;
    z-index: 5;
}

h1{
    text-align: center;
}

#status{
    background-color: black;
    border: 5px solid grey;
    height: 50px;
    width: 490px;
    position: absolute;
    z-index: 1;
}

.heart {
    position: absolute;
    height: 45px;
    width: 50px;
    margin-top: 7px;
    margin-left: 8px;
    background-image: url(./img/hp.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

#score {
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    right: 0;
    position: absolute;
    font-size: 45px;
}